/*-- nav 2 --*/

/* Button */
.slicknav_btn {
	background: none;
}

/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #81a9ff;
}

.slicknav_menu {
	background:#052d49;
	padding:0;
}

.slicknav_nav .slicknav_item:hover {
	background:none;
	color:#81a9ff;
}

.slicknav_nav a:hover{
	background:none;
	color:#81a9ff;
}

.slicknav_nav .slicknav_txtnode {
    padding: 7px 15px;
	margin: 0;
}