@charset "utf-8";
/*--- tooltips ---*/
#s-m-t-tooltip {
	color:#333;
	background-color:#fff;
	font-family:'Open Sans', helvetica, sans-serif;
	font-size:10px;
	font-weight:600;
	letter-spacing:1px;
	text-transform:uppercase;
	text-align:center;
	position:absolute;
	padding:3px 5px;
	margin-top:30px;
	border:1px solid #eee;
	z-index:9999;
}

/*--- scrollbar ---*/
::-webkit-scrollbar {
    width:5px;
    background:#fff;
}

::-webkit-scrollbar-thumb {  
    background-color:#cf773d; /* scrollbar colour */
}

::-webkit-scrollbar-track {
	background-color:#eee; /* scrollbar colour */
}

/*--- general ---*/
body {
	margin:0;
	font-family:'Lato', helvetica, sans-serif;
	background:#fff;
	color:#333;
	font-size:16px;
}

h1, h2 {
	font-family:'Playfair Display', times, serif;
	font-style:italic;
	font-weight:400;
	letter-spacing:3px;
}

h1 {
	font-size:90px;
}

h2 {
	font-size:45px;
}

h3 {
	font-size:25px;
	font-weight:400;
	letter-spacing:1px;
}

h4 {
	font-size:20px;
	font-weight:600;
	letter-spacing:1px;
}

p { line-height:1.6; }

a { color:#333; text-decoration:none; }

a.active, a:hover {
	color:#dea27a;
	transition:all .4s ease-in-out;
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
}
 
b, strong { font-weight:600; }

i, em { font-style:italic; }

small { font-size:12px; }

big { font-size:90px; } /*-- first letter --*/

blockquote {
    margin-left:10px;
    padding-left:10px;
    width:95%;
    border-left:1px solid #ffd2b3;
    word-wrap:break-word;
}

img {
	object-fit:cover;
	vertical-align:middle;
}

.container {
	width:100%;
	margin:0 auto;
	overflow:hidden;
}

section {
	margin:0 auto;
	padding:5% 10%;
}

/*--- header navigation ---*/
header {
	background:#fff;
	width:100%;
	height:80px;
	top:0;
	box-shadow:0 5px 5px rgba(222, 162, 122, 0.1);
	position:fixed;
}

#title {
	font-family:'Tangerine', cursive;
	font-size:50px;
	font-weight:700;
	letter-spacing:3px;
	margin:15px 0;
}

#title img {
	width:40px;
	height:40px;
	padding:0px 10px;
	vertical-align:text-top;
}

nav ul#menu {
	float:right;
	text-transform:uppercase;
}

nav ul#menu li {
	display:inline-flex;
	padding:10px;
}

nav ul#menu a {
	color:#414141;
	text-decoration:none;
}

nav ul#menu a:hover { color:#dea27a; }

nav ul#menu a.active { color:#dea27a; }

/*--- featured ---*/
#featured {
	width:100%;
	height:100vh;
	background-image:url('../images/wedding decorator.jpg');
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	background-attachment:relative;
	text-align:center;
	color:#fff;
}

/*-- horizontal and vertical align --*/
.htxt {
	padding:30vh 0;
}

/*--- articles ---*/
#a, #c, #team, #services {
	background:#f7efe9;
}

#a img, #c img {
	width:600px;
	float:right;
}

#b img {
	width:600px;
}

#slideshow img {
	width:600px;
	height:399px;
}


/*--- button ---*/
.btn {
	border-radius:3px;
	background-color:#fc0;
	font-weight:600;
	padding:10px 30px;
	letter-spacing:3px;
	text-align:center;
	text-transform:uppercase;
	border:none;
	display:inline-block;
	cursor:pointer;
}

.btn:hover {
	background-color:#f96854;
	color:#fff;
	transition:all .4s ease-in-out;
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
}

/*--- PAGES ---*/
#aboutfeatured {
	width:100%;
	padding:5% 0;
	background:url('../images/two people wooden floor.jpg') no-repeat center;
	background-attachment:relative;
	background-size:cover;
	text-align:center;
	color:#fff;
	margin-top:80px;
}

.ahtxt {
	margin:auto;
	display:inline-block;
	vertical-align:middle;
}

#team {
	text-align:center;
}

#team img {
	height:300px;
	width:200px;
}

#servicesfeatured {
	width:100%;
	padding:5% 0;
	background:url('../images/bronze rings.jpg') no-repeat center;
	background-attachment:relative;
	background-size:cover;
	text-align:center;
	color:#fff;
	margin-top:80px;
}

/*--- social media ---*/
#social {
	margin:0 auto;
	padding:5px 40px 5px 40px;
    text-align:center;
}

#social i {
    font-size:16px;
	width:20px;
	padding:7px;
    margin:2px;
	background:#fff;
}

/*--- footer ---*/
footer {
	background:#333;
	color:#fff;
	text-align:center;
	padding:20px;
	font-size:12px;
	font-weight:500;
}