@charset "utf-8";
/*--- tooltips ---*/
#s-m-t-tooltip {
	color:#333;
	background-color:#fff;
	font-family:'Open Sans', helvetica, sans-serif;
	font-size:10px;
	font-weight:600;
	letter-spacing:1px;
	text-transform:uppercase;
	text-align:center;
	position:absolute;
	padding:3px 5px;
	margin-top:30px;
	border:1px solid #eee;
	z-index:9999;
}

/*--- scrollbar ---*/
::-webkit-scrollbar {
    width:5px;
    background:#fff;
}

::-webkit-scrollbar-thumb {  
    background-color:#5d4c59; /* scrollbar colour */
}

::-webkit-scrollbar-track {
	background-color:#eee; /* scrollbar colour */
}

/*--- general ---*/
body {
	margin: 0;
	font-family: 'Lato', helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #333;
}

h1, h2, h3, h4 {
	font-family: 'Playfair Display', times, serif;
	font-style: italic;
	font-weight: 400;
	text-align: center;
}

h1, h3 {
	font-family: 'Tangerine', cursive;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 3px;
}

h2 {
	font-size: 40px;
	letter-spacing: .5em;
}

h4 {
	font-size: 25px;
	text-align: left;
	letter-spacing: 1px;
	margin: 20px 0;
	padding: 10px 0;
}

p { line-height: 2; }

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	margin: 1rem 0;
	border: 0;
	border-top: 1px solid #888;
}

a { 
	color: #333; 
	text-decoration: none;
}

a.active, a:hover {
	color: #decba4;
	transition: all .4s ease-in-out;
}

b, strong { font-weight: 600; }

i, em { font-style: italic; }

img {
	width: 100%;
	object-fit: cover;
	vertical-align: middle;
}

.container {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

section {
	margin: 0 auto;
	padding: 5% 0;
}

section:nth-child(3) {
	background: #decba4;
}

section:nth-child(5) {
	background: #618069;
	color: #fff;
}

/*--- header navigation ---*/
header {
	background: #fff;
	width: 100%;
	height: 80px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	top: 0;
	position: fixed;
	z-index: 9999;
}

#title, #title a {
	font-family: 'Tangerine', cursive;
	font-size: 50px;
	font-weight: 700;
	letter-spacing: 3px;
	margin: 15px 0;
	color: #5d4c59;
}

nav ul#menu {
	float: right;
	text-transform: uppercase;
}

nav ul#menu li {
	display: inline-flex;
	padding: 10px;
}

nav ul#menu a {
	color: #111;
	text-decoration: none;
}

nav ul#menu li a.active {
	color: #caab6c;
	transition: all .4s ease-in-out;
}

nav ul#menu li a:hover {
	color: #caab6c;
	transition: all .4s ease-in-out;
}

/*--- featured ---*/
#featured {
	width: 100%;
	height: 100vh;
	background: url('../images/roses.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}

#invite {
	height: 100vh;
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

.desc {
	background: #decba4;
	margin-top: 50vh;
    transform: translateY(-50%);
	padding: 30px 0;
}

/*--- button ---*/
.btn {
	background-color: #5d4c59;
	color: #fff;
	font-weight: 400;
	letter-spacing: 3px;
	padding: 10px 30px;
	text-transform: uppercase;
}

.btn:hover {
	background-color: #618069;
	color: #fff;
	transition: all .4s ease-in-out;
}

/*---- wedding details section ----*/
.info-box {
	margin: 30px 0;
}

/*--- FORM ---*/
form {
	padding:10px;
}

input[type=text], select, textarea {
	font-family: 'Lato', helvetica, sans-serif;
	font-size:16px;
	font-weight:400;
	border-radius:3px;
	background-color:#fafafa;
	margin:10px 0;
	padding:10px 0;
	border:1px solid #eee;
	width: 100%;
}

textarea { height:200px; }

input[type=submit], button {
	font-family: 'Lato', helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
	background-color: #5d4c59;
	color: white;
	padding: 10px 30px;
	border: none;
	border-radius: 0;
	cursor: pointer;
}

button:hover {
	background-color: #618069;
}

.small-box {
	background: #5d4c59;
	padding: 30px;
	color: #fff;
}

/*--- footer ---*/
footer {
	bottom:0;
	background:#333;
	color:#fff;
	text-align:center;
	padding:20px;
	font-size:12px;
	font-weight:500;
}

/*--- social media ---*/
#social {
	margin:0 auto;
	padding:5px 40px 5px 40px;
    text-align:center;
}

#social i {
    font-size:16px;
	width:20px;
	padding:7px;
    margin:2px;
	background:#fff;
}

/*--- GUESTLIST ---*/
#links {
	position:fixed;
	top:25px;
	left:25px;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1;
}

.guestlist {
	position:absolute;
	margin:0 auto;
	width:50vw;
	top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

table {
	border-collapse:collapse;
	width:100%;
	margin:0 auto;
}

th, td {
	padding:10px;
	border-bottom:1px solid #eee;
}

tr:nth-child(even) {
	background:#fafafa;
}
