@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}

body {
	font-family: 'Kaushan Script', cursive;
	font-weight:400;
	background-color:#000;
	color:#fff;
	width:100%;
}

/*--- navigation ---*/
nav {
	position:fixed;
	right:10px;
	height:100vh;
	line-height:100vh;
	z-index:9999;
}

nav ul {
	list-style:none;
	display:inline-block;
	vertical-align:middle;
}

nav li {
	margin:10px 0;
}

nav a {
	color:#fff;
	display:block;
	width:30px;
	height:30px;
	text-align:center;
	line-height:30px;
	text-decoration:none;
	background:#dc3d2a;
	border-radius:50%;
}

.current a {
	background:#00b32c;
}

/*--- typography ---*/
p {
	font-size:30px;
	line-height:1.6;
	margin:1em;
}

/*--- general ---*/
.container {
	width:100%;
	margin:0 auto;
}

/*--- container ---*/
main {
	overflow:hidden;
}

section {
	width:100%;
	height:100vh;
	position:relative;
}

.element {
	position:absolute;
	width:100%;
}

.bg {
	z-index:-99;
	position:absolute;
	width:100vw;
	height:100vh;
}

#title {
	z-index:99;
	text-align:center;
	padding-top:25vh;
	animation-duration:3s;
}

h1 {
	width:100%;
	padding:25px;
	margin:0 auto;
	font-size:100px;
	position:absolute;
	text-align:center;
}

/*--- PARAGRAPHS ---*/
.text {
	max-width:50%;
	margin:0 auto;
	text-align:center;
}

#two .text {
	padding-top:10vh;
	float:right;
}

#three .text {
	padding-top:60vh;
}

#four .text:nth-child(1) {
	padding-top:30vh;
	float:left;
}

#four .text:nth-child(2) {
	padding-top:25vh;
	padding-right:3vw;
	float:right;
	max-width:28%;
}

#five .text {
	padding-top:10vh;
}

#six .text:nth-child(1) {
	padding-top:5vh;
	float:left;
}

#six .text:nth-child(2) {
	padding-top:5vh;
	float:right;
}

#seven .text {
	padding-top:10vh;
	float:right;
}

/*--- BACKGROUND FOR EACH SECTION ---*/
#one {
	background:url('../images/roof/bg.png') repeat center;
	background-size:cover;
	z-index:-99;
}

#two {
	background-image:url('../images/town/town1.png'), url('../images/town/bg.png');
	background-repeat:no-repeat, repeat;
	background-position:bottom, center;
	background-size:cover, cover;
	z-index:-99;
}

#three {
	background:url('../images/fireworks/bg.png') repeat bottom;
	z-index:-99;
}

#four {
	background:url('../images/grinch/bg.png') no-repeat center;
	background-size:cover;
	z-index:-99;
}

#five, #six {
	background:url('../images/room/bg_room.png') repeat-x center;
	z-index:-99;
}

#seven {
	background:url('../images/mouse/bg dark.png') no-repeat center;
	background-size:cover;
	z-index:-99;
}

/*---- ELEMENTS ----*/
/*-- PART ONE --*/
/*grinch*/
#element-1 {
	z-index:-5;
	top:30vh;
	left:80vw;
}

#element-1 img {
	height:500px;
}
/*chimney*/
#element-2 {
	z-index:-6;
	bottom:-20vh;
	left:50vw;
}
/*stars*/
#element-3 {
	z-index:-7;
	width:100%;
	bottom:-10vh;
	left:0;
}
/*city*/
#element-4 {
	z-index:-8;
	bottom:-20vh;
	left:0;
}

/*-- PART TWO --*/
/* carolers group */
#element-5 {
	z-index:-9;
	top:50vh;
	left:15vw;
}
/* snow */
#element-6 {
	z-index:-10;
	top:0;
	left:-30vw;
}
/* snow flip image */
#element-7 {
	z-index:-11;
	top:0;
	left:35vw;
	opacity:.5;
}
/* lamppost */
#element-8 {
	z-index:-12;
	top:3vh;
	left:8vw;
}
/* christmas tree */
#element-9 {
	z-index:-13;
	top:5vh;
	left:35vw;
}

/*-- PART THREE --*/
/* fireworks */
#element-10 {
	z-index:-14;
	top:5vh;
	animation-duration:10s;
	animation-iteration-count:infinite;
}
/* fire sparkles */
#element-11 {
	z-index:-15;
	top:3vh;
	animation-duration:10s;
	animation-iteration-count:infinite;
}
/* city */
#element-12 {
	z-index:-16;
	bottom:-1vh;
}
/* fire rockets */
#element-13 {
	z-index:-17;
	width:100%;
	bottom:20vh;
	animation-duration:5s;
	animation-iteration-count:infinite;
}

/*-- PART FOUR --*/
/* grinch as santa */
#element-14 {
	z-index:-18;
	top:11vh;
	left:55vw;
}
/* snow land */
#element-15 {
	z-index:-19;
	bottom:-1vh;
}
/* trees group */
#element-16 {
	z-index:-20;
	top:20vh;
}
/* christmas tree */
#element-17 {
	z-index:-21;
	top:8vh;
	left:44vw;
}
/* santa surprise */
#element-18 {
	z-index:-22;
	bottom:20vh;
	left:30vw;
}

/*-- PART FIVE --*/
/* grinch */
#element-19 {
	z-index:-23;
	top:40vh;
	left:40vw;
}
/* sock red */
#element-20 {
	z-index:-24;
	top:42vh;
	left:13vw;
}
/* sock yellow */
#element-21 {
	z-index:-25;
	top:42vh;
	left:20vw;
}
/* sock green */
#element-22 {
	z-index:-26;
	top:42vh;
	left:28vw;
}

/* SOCKS */
#element-20, #element-21, #element-22 {
	animation-duration:3s;
	animation-delay:5s;
	animation-iteration-count:infinite;
}

/* tree full */
#element-23 {
	z-index:-27;
	top:20vh;
	left:70vw;
}
/* wreath */
#element-24 {
	z-index:-28;
	top:15vh;
	left:17vw;
}
/* fireplace */
#element-25 {
	z-index:-29;
	top:40vh;
	left:10vw;
}

/*-- PART SIX --*/
/* grinch */
#element-26 {
	z-index:-30;
	top:20vh;
	left:25vw;
}
/* tree fallen */
#element-27 {
	z-index:-31;
	top:45vh;
	left:60vw;
}
/* fireplace */
#element-28 {
	z-index:-32;
	top:40vh;
	left:60vw;
}

/*-- PART SEVEN --*/
/* mouse */
#element-29 {
	z-index:-33;
	top:55vh;
	left:35vw;
}
/* crumb */
#element-30 {
	z-index:-34;
	bottom:17vh;
	left:60vw;
}

/*--- footer ---*/
footer {
	position:absolute;
	top:694vh;
	text-align:center;
	width:100%;
}