@charset "utf-8";

/*--- general ---*/
* {
	margin: auto;
}

/*--- tooltips ---*/
#s-m-t-tooltip {
	color:#333;
	background-color:#fff;
	font-family:'Open Sans', helvetica, sans-serif;
	font-size:10px;
	font-weight:600;
	letter-spacing:1px;
	text-transform:uppercase;
	text-align:center;
	position:absolute;
	padding:3px 5px;
	margin-top:30px;
	border:1px solid #eee;
	z-index:9999;
}

/*--- scrollbar ---*/
::-webkit-scrollbar { width:5px; }
::-webkit-scrollbar-thumb { background:#da6d7c; }
::-webkit-scrollbar-track { background:#eee; }

/*--- general ---*/
body {
	margin:0;
	font-family:'Montserrat', helvetica, sans-serif;
	background:#fff;
	color:#222;
	font-size:16px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:700;
	letter-spacing:3px;
	text-transform:uppercase;
	margin: 1em 0;
}

h1 {
	font-family:'Courgette', cursive;
	font-size:50px;
	color:#da6d7c;
}

h2 {
	font-family:'Courgette', cursive;
	font-size:40px;
	color:#ec63a0;
}

h3 {
	font-size:28px;
	color:#da6d7c;
}

h4 {
	font-size:26px;
	color:#ec63a0;
}

h5 {
	font-size:24px;
	color:#da6d7c;
}

h6 {
	font-size:22px;
	color:#ec63a0;
}

p {
	line-height:1.6;
	margin:1em 0;
}

a {
	color:#ec63a0;
	text-decoration:none;
	transition:all .4s ease-in-out;
	cursor: pointer;
}

a.active, a:hover {
	color:#da6d7c;
	transition:all .4s ease-in-out;
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
}

b, strong {
	font-weight:700;
}

strong {
	text-transform:uppercase;
	color:#da6d7c;
}

i, em { font-style:italic; }

small { font-size:12px; }

big { font-size:100px; }

blockquote {
	margin-left:10px;
    padding-left:10px;
    width:95%;
    border-left:1px solid #ec63a0;
    word-wrap:break-word;
}

img {
	width:100%;
	object-fit:cover;
	vertical-align:middle;
}

.container {
	width:90%;
	margin:0 auto;
	overflow:hidden;
	padding:20px 0;
}

section {
	margin:0 auto;
	padding:50px 0;
	overflow: hidden;
}

/*--- header navigation ---*/
header {
	width:100%;
	height:80px;
	top:0;
	position:fixed;
	display:inline-block;
	z-index:9999;
}

nav { line-height:80px; }

#title {
	font-family:'Playfair Display', times, serif;
	font-size:50px;
	font-style:italic;
	font-weight:700;
	letter-spacing:1px;
	color:#fff;
}

#title a { color:#fff; }

#title img {
	height: 67px;
	width: auto;
}

nav ul#menu {
	float:right;
	text-transform:uppercase;
	font-weight:500;
	margin:0;
}

nav ul#menu li {
	display:inline-block;
	padding:0 10px;
}

nav ul#menu a {
	text-decoration:none;
	color:#fff;
}

nav ul#menu a.active, nav ul#menu a:hover {
	color:#ffabd2;
	transition:all .4s ease-in-out;
}

.mainmenu { display:block; }

/*-- dropdown --*/
.dropbtn {
	display: inline-block;
	text-align: center;
	text-decoration: none;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background: #ffabd2;
	z-index: 1;
}

.dropdown-content a {
	color: #000;
	padding: 0 10px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover { background-color: #f1f1f1; }

.dropdown:hover .dropdown-content {
	display: block;
}
/*-- dropdown --*/

.sub, #submenu { display: none; }

.navbar.scrolled {
	background-color:#fff !important;
	transition:background-color 200ms linear;
	box-shadow:0 1px 6px rgba(0, 0, 0, .1);
}

.navbar.scrolled #title a, .navbar.scrolled nav ul#menu a {
	color:#222;
}

.navbar.scrolled nav ul#menu a.active, .navbar.scrolled nav ul#menu a:hover {
	color:#da6d7c;
	transition:all .4s ease-in-out;
}

/*--- featured ---*/
#featured {
	width:100%;
	height:90vh;
	background-image:url('../products/Microdermabrasion.jpg');
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	background-attachment:relative;
	text-align:center;

}

#featured:before {
	content:'';
	position:absolute;
	width:100%;
	height:90vh;
	background:rgba(34,34,34,0.2); /* #222 */
	left:0;
}

#featured .container {
	position:relative;
}

.htxt {
	padding:20vh 0 0;
	color:#fff;
}

.htxt big {
	font-family:'Playfair Display', times, serif;
	color:#fff;
	text-transform:none;
}

.htxt h2 {
	font-family:'Montserrat', helvetica, sans-serif;
	color:#fff;
	text-transform:none;
}

.button {
	padding:20px 0;
}

.button a {
	text-transform:uppercase;
	font-weight:500;
	display:inline-block;
	padding:20px;
	background:none;
	color:#fff;
	border:1px solid #fff;
}

.button a:hover {
	background-color:#fff;
	color:#000;
	transition:all .4s ease-in-out;
}

/*--- slogan ---*/
#slogan, .quote {
	font-family:'Satisfy', cursive;
	font-size:75px;
	background-color:#fdeff5;
	color:#da6d7c;
	text-align:center;
}

/*----- PORTFOLIO GALLERY GRID -----*/
.row {
	margin:10px;
	text-align:center;
}

/* Add padding BETWEEN each column */
.row, .row > .column {
	padding:15px;
}

/* Create equal columns that floats next to each other */
.column {
	width:30%;
	display:inline-block;
}

/* Clearfix (clear floats) */
.row:after {
	content:"";
	clear:both;
	display:table;
}

/*--- POLAROID IMAGES ---*/
.polaroid {
	background-color:#fdeff5;
	position:relative;
	margin:20px 0;
}

.polaroid img {
	width:100%;
}

.polaroid h6 {
	font-family:'Montserrat', helvetica, sans-serif;
	font-size:16px;
	font-weight:600;
	text-transform:uppercase;
	text-align:center;
	color:#ec63a0;
	padding:20px;
	margin:0px;
}

/*--- OVERLAY TEXT ---*/
.overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:340px;
	opacity:0;
	background-color:rgba(253,239,245,.8);
	transition:.4s ease;
}

.polaroid:hover .overlay { opacity:1; }

.more {
	position:relative;
	text-align:center;
	text-transform:uppercase;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

.polaroid .button a {
	color:#ec63a0;
	border:1px solid #ec63a0;
	border-radius:3px;
}

.polaroid .button a:hover {
	background-color:#ec63a0;
	color:#fff;
}


/*--- CARD IMAGE ---*/
.img-card {
	margin:1em 0;
	display:inline-block;
	border-radius:5px;
}

.img-card img {
	border-radius:5px;
	width:100%;
	float:left;
}

.cardtext {
	transition:.4s ease;
	position:absolute;
	background-color:#fdeff5;
	color:#ec63a0;
	padding:10px;
	text-align:center;
    border-bottom-right-radius:5px;
	border-top-left-radius:4px;
}

.hover-shadow:hover {
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

/*--- BUTTON ---*/
button, .btn {
	background-color:#da6d7c;
	color:#fff;
	font-family:'Montserrat', helvetica, sans-serif;
	font-size:16px;
	font-weight:500;
	padding:10px 30px;
	letter-spacing:3px;
	text-align:center;
	text-transform:uppercase;
	border-radius:3px;
	border:none;
	cursor:pointer;
}

.btn:hover, button:hover {
	background-color:#ec63a0;
	color:#fff;
	transition:all .4s ease-in-out;
}

/*--- FORM ---*/
form {
	padding:10px 0;
}

input, select, textarea {
	font-family:'Montserrat', helvetica, sans-serif;
	font-size:16px;
	font-weight:500;
	border-radius:3px;
	background-color:#fafafa;
	margin:10px 20px;
	padding:10px;
	border:1px solid #eee;
}

select { width:90%; }

textarea {
	width:97%;
	height:200px;
}

form .row { padding:0; }

.two-col { width:50%; }

.three-col { width:calc(100px * 3); }

.two-col, .three-col {
	float:left;
	display:inline-block;
	margin-top:6px;
}


/* form inline */
.form-inline {
	flex-flow:row wrap;
	align-items:center;
}

.form-inline input {
	vertical-align:middle;
	margin:5px 10px;
	width:auto;
}

/*---- FOOTER ----*/
footer {
	bottom:0;
	/* background:#ffabd2; */
	background:rgba(220, 153, 156, .5); /* #dc999c (#edcccd) */
	color:#333;
	padding:50px 50px 0;
}

footer .container { padding:0; }

footer h6 {
	color:#da6d7c;
	border-bottom:1px solid #da6d7c;
	padding:20px 0;
}

#copyright {
	margin-top:50px;
	border-top:1px solid #da6d7c;
}

/*--- social media ---*/
#social {
	position:relative;
	margin:0 auto;
	padding:5px;
}

#social i {
	font-size:30px;
	padding:8px;
	margin:2px;
	color:#da6d7c;
}

/*--- logo ---*/
#logo {
	font-family:'Playfair Display', times, serif;
	font-size:50px;
	font-style:italic;
	font-weight:700;
	letter-spacing:1px;
	color:#da6d7c;
	margin:51px 0;
}

#logo a { color:#da6d7c; }

/*--- FOOTER FORM ---*/
footer form {
	font-family:'Montserrat', sans-serif;
}

footer input {
	font-size:16px;
	font-weight:500;
	width:250px;
	height:20px;
	border-radius:3px;
	background-color:#fff;
	margin:0px 10px 15px 0px;
	padding:10px;
	border:none;
}

footer button, footer button:hover {
	background-color:#da6d7c;
	color:#fff;
	border-radius:3px;
	font-size:16px;
	font-weight:500;
	padding:10px 30px;
	letter-spacing:2px;
	text-align:center;
	text-transform:uppercase;
	border:none;
	cursor:pointer;
}

/*------ ABOUT PAGE ------*/
.ahtxt {
	margin:auto;
	display:inline-block;
}

.ahtxt h1 {
	font-family:'Playfair Display', times, serif;
	color:#fff;
	line-height:20vh;
}

/*--- FEATURED BANNERS ---*/
#aboutfeatured {
	width:100%;
	height:35vh;
	background:url('../images/store.png') no-repeat center;
	background-size:cover;
	background-attachment:relative;
	color:#fff;
	text-align:center;
}


#promofeatured {
	width:100%;
	height:35vh;
	background:url('../images/gift boxes.jpeg') no-repeat center;
	background-size:cover;
	background-attachment:relative;
	color:#fff;
	text-align:center;
}

#contactfeatured {
	width:100%;
	height:35vh;
	background:url('../images/telephone red banner.jpg') no-repeat center;
	background-size:cover;
	background-attachment:relative;
	color:#fff;
	text-align:center;
}

#aboutfeatured:before, #promofeatured:before, #contactfeatured:before {
	content:'';
	position:absolute;
	width:100%;
	height:35vh;
	background:rgba(34,34,34,0.5); /* #222 */
	left:0;
}

#aboutfeatured .container, #promofeatured .container, #contactfeatured .container, #productsfeatured .container, #servicesfeatured .container {
	position:relative;
	top: 0;
}

#servicesfeatured {
	width:100%;
	height:35vh;
	background:url('../facility/skinrxderma_1.png') no-repeat center;
	background-size:cover;
	background-attachment:relative;
	color:#fff;
	text-align:center;
}

#productsfeatured {
	width:100%;
	height:35vh;
	background:url('../products/dermalinfusion treatment 4.png') no-repeat center;
	background-size:cover;
	background-attachment:relative;
	color:#fff;
	text-align:center;
}

#productsfeatured:before, #servicesfeatured:before {
	content:'';
	position:absolute;
	width:100%;
	height:35vh;
	background:rgba(34,34,34,0.5); /* #222 */
	left:0;
}

/*---- PROMO PAGE ----*/
#bday, #wedding, #ig, #agas, #dermalinfusion {
	background-color:#fdeff5;
}

/*---- SERVICES PAGE ----*/
#services .polaroid img {
	height:340px;
}
