@charset "utf-8";
/* CSS Document */

* {
    margin:0;
    padding:0;
}

body {
    font-family:'Share Tech Mono', monospace;
    background:url('../images/stars_bg.jpg') repeat;
    color:#fff;
}

/*--- typography ---*/
p {
    font-size:20px;
    line-height:150%;
}

/*--- general ---*/
.container {
    width:80%;
    margin:0 auto;
}

.element img {
    width:300px;
}

/*--- navigation ---*/
nav {
    position:fixed;
    right:10px;
    top:50vh;
    z-index:9999;
}

nav ul {
    list-style:none;
}

nav li {
    margin:10px 0;
}

nav a {
    color:#fff;
    display:block;
    width:30px;
    height:30px;
    text-align:center;
    line-height:30px;
    text-decoration:none;
    background:#8697cb;
    border-radius:50%;
}

.current a {
	background:#285680;
}

/*--- main ---*/
main {
	overflow:hidden;
}

section {
    width:100%;
    height:100vh;
    position:relative;
}

.element {
    position:absolute;
}

/*--- one ---*/
#one {
    text-align:center;
}

#logo {
    padding-top:25vh;
	animation-duration:2s;
}

#element-1 {
    top:5vh;
    left:10vw;
}

#element-2 {
    background:url('../images/clouds.png') repeat-x top center;
    width:100%;
    height:1500px;
    top:50vh;
}

/*--- two ---*/
.text {
    padding-top:25vh;
    max-width:800px;
    margin:0 auto;
    text-align:center;
}

#element-3 {
    right:10vw;
    top:10vh;
}

#element-4 {
    left:10vw;
    top:50vh;
}

/*--- three ---*/
#element-5 {
    right:10vw;
    top:10vh;
}

#element-6 {
    left:10vw;
    top:50vh;
}

/*--- four ---*/
#element-7 {
    right:10vw;
    top:10vh;
}

#element-8 {
    left:10vw;
    top:50vh;
}

/*--- footer ---*/
footer {
    position:absolute;
    top:395vh;
    text-align:center;
    width:100%;
}