@charset "utf-8";

/*-- scrollbar --*/
::-webkit-scrollbar { width:0; }

* {
	margin:0;
	padding:0;
}

body {
	overflow:hidden;
	width:100vw;
	height:100vh;
	font-family:'Open Sans', helvetica, sans-serif;
}

h1 {
	font-family: 'Playfair Display', times, serif;
	font-style:italic;
	font-size:60px;
	font-weight:700;
}

p {
	line-height:3;
	font-size:20px;
}

input[type=checkbox] {
    visibility:hidden;
}

/*--- content ---*/
.content {
	width:100vw;
	height:100vh;
	background:url('../images/bg.jpg') no-repeat center;
	background-size:cover;
	background-attachment:relative;
}

.content:before {
	content:'';
	position:absolute;
	width:100vw;
	height:100vh;
	background-color:#030176;
	opacity:.3;
}

/*===== APP DESCRIPTION =====*/
.dcover {
	width:50vw;
	height:100vh;
	position:relative;
	float:left;
	color:#fff;
}

.desc {
	margin:0 auto;
	text-align:center;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

/*--- button ---*/
.button {
	display:inline-block;
	border:none;
	border-radius:3px;
	background-color:#daa520; /* #030176 / #1d2bf0 */
	color:#000;
	font-size:20px;
	font-weight:600;
	text-align:center;
	text-transform:uppercase;
	padding:10px 30px;
	transition:all .5s ease-in-out;
	cursor:pointer;
	margin:5px;
	vertical-align:middle;
}

.button span {
	cursor:pointer;
	display:inline-block;
	position:relative;
	transition:.5s ease-in-out;
}

.button span:after {
	content:'\00bb';
	position:absolute;
	opacity:0;
	top:0;
	right:-20px;
	transition:.5s ease-in-out;
}

.button:hover span {
	padding-right:25px;
}

.button:hover span:after {
	opacity:1;
	right:0;
}

/*===== PHONE & APP =====*/
#app {
	width:50vw;
	height:100vh;
	position:relative;
	float:right;
}

.phone {
	width:378px;
	height:755px;
	background:url('../images/app small.png') no-repeat;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

/*--- screen ---*/
#screen {
	position:absolute;
	width:340px;
	height:650px;
	top:50px;
	left:20px;
}

/*--- daily card ---*/
.cardoftheday {
	position:absolute;
	width:150px;
	height:250px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	cursor:pointer;
	background:none;
	border:none;
	z-index:98;
}

.drawcard {
	height:0;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	overflow-y:scroll;
	transition:.5s ease-in-out;
	z-index:99;
}

.card-desc {
	position:relative;
	top:0;
	width:100%;
}

.card-desc img {
	width:100%;
	height:100%;
}

.drawcard a {
	padding:8px;
	text-decoration:none;
	color:#fff;
	display:block;
	transition:.3s ease-in-out;
}

.drawcard .closebtn {
	position:absolute;
	top:12px;
	right:10px;
	font-size:21px;
	z-index:99;
}

/*===== TAB NAVIGATION =====*/
.tab {
	width:340px;
}

.tab label {
	position:relative;
	display:inline-flex;
	margin:600px 35px;
	width:41px;
	height:45px;
	float:left;
	text-align:center;
	border:none;
	transition-duration:.5s;
	cursor:pointer;
	z-index:97;
}

.tab [type=radio] {
	display:none;
}

[type=radio]:checked ~ label {
	z-index:2;
	background:none;
}

[type=radio]:checked ~ label ~ .tabcontent {
	z-index:1;
}

.tabcontent, .tabcontent img {
	position:absolute;
	width:340px;
	height:650px;
}

/*===== APP MENU =====*/
.menulinks {
	position:fixed;
	left:50vw;
	height:100vh;
}

.menu .menutext {
	width:auto;
	background:#f3734b;
	color:#fff;
	font-size:20px;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 20px;
	position:absolute;
}

.menu .menutext:after {
	content:' ';
	position:absolute;
	top:50%;
	left:99%;
	margin-top:-8px;
	border-width:8px;
	border-style:solid;
	border-color:transparent transparent transparent #f3734b;
}

.cardlabel {
	position:absolute;
	top:48vh;
	left:9.5vw;
}

.appnavlabel {
	position:absolute;
	top:80vh;
	left:5vw;
}
